{% extends "myapp/base.html" %}

{% block content %}

<div class="container py-5 text-center">

    <div class="card shadow p-4">

        <h2 class="text-danger">
            Delete Property
        </h2>

        <p class="mt-3">

            Are you sure you want to delete

            <strong>{{ property.title }}</strong>?

        </p>

        <form method="POST">

            {% csrf_token %}

            <button class="btn btn-danger">
                Yes, Delete
            </button>

            <a href="{% url 'dashboard' %}"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}